LogLevel INFO
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no

Match Group backup-client
    ChrootDirectory /chroots/%u
    X11Forwarding no
    AllowTcpForwarding yes
    AuthorizedKeysFile /chroots/%u/home/%u/.ssh/authorized_keys
    ForceCommand /usr/local/bin/only.sh
